doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Certificate
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
  body  
    .wrapper
      // eiv-certificate 
      .eiv-certificate 
        .eiv-certificate__title Свидетельство о собственности
        .eiv-certificate__subtitle Цифровой пай
        .eiv-certificate__table 
          table
            tr
              td Порядковый номер свидетельства:
              td СОЧИ-L-S 00000_
            tr
              td Тип документа:
              td Свидетельство собственности на пай
            tr
              td Сумма внесенная в программу:
              td
            tr
              td Цифровой идентификатор актива:
              td 
                img(src="img/logo.png", alt="")
            tr
              td Дата внесения:
              td 
            tr
              td Инвестиционный раунд:
              td 
            tr
              td Колличество начисленных паев:
              td 
            tr.eiv-certificate__orange
              td(colspan="2") Активы проекта:
            tr
              td Вид актива:
              td Земельный участок
            tr
              td Кадастровый номер:
              td 
            tr
              td Данные геолокации:
              td 
            tr
              td Тип возводимого объекта:
              td Коттедж
            tr
              td Площадь возводимого объекта:
              td 
            tr.eiv-certificate__orange
              td(colspan="2") Характеристики проекта
            tr
              td Общая стоимость проекта:
              td 12 000 000 руб.
            tr
              td Общее колличество паев:
              td 200 шт.
            tr
              td Расчетная величина стоимости пая:
              td 1 пай = 1 кв.м.
            tr.eiv-certificate__orange
              td(colspan="2") График повышения стоимости одного квадратного метра проекта:
            tr
              td &#8414; &nbsp; &#8544; инвестиционный раунд
              td 60 000 руб.
            tr
              td &#8414; &nbsp; &#8545; инвестиционный раунд
              td 75 000 руб.
            tr
              td &#8414; &nbsp; &#8546; инвестиционный раунд
              td 85 000 руб.
            tr
              td Кем выдан:
              td Инвестиционный маркетплейс "Аварест"
            tr
              td Целевая программа:
              td СОЧИ LIFE (START)
            tr
              td Страница актива
              td
                span.eiv-certificate__qr
                  img(src="img/qr.png", alt="")
                  span.eiv-certificate__stars (***)
            tr
              td Информация о программе
              td 
                span.eiv-certificate__qr
                  img(src="img/qr.png", alt="")
        .eiv-certificate__text
          p * Настоящий именной сертификат является внутренним документом инвестиционного маркетплейса "Аварест".
          p ** Управление активом: передача прав, активация и получение начисленных бонусов или дивидендов, осуществляется из личного кабинета владельца актива на платформе "Аварест" https://avarest.ru/office/dashboard
          p *** Проверка подлинности сертификата и актуальности данных доступна на "Странице актива" (см. таблицу)
      // /eiv-certificate 
