.eiv-certificate  {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  padding: 40px 0;
  position: relative;
  z-index: 2;
  &__title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    margin-bottom: 5px;
    &--mb20 {
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    font-size: 22px;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    margin-bottom: 20px;
  }
  &__table {
    margin-bottom: 10px;
    table {
      width: 100%;
      font-size: 18px;
      tr {
        border: 1px solid #262526;
      }
      td {
        padding: 5px 15px;
        vertical-align: top;
        &:nth-child(2) {
          text-align: right;
        }
      }
      img {
        
      }
    }
    &--2 {
      table {
        td {
          &:nth-child(2) {
            border-left: 1px solid #262526;
            text-align: left;
          }
        }
      }
    }
  }
  &__orange {
    background-color: $orange;
    text-align: center;
    color: #fff;
  }
  &__green {
    background-color: $green;
    color: #fff;
    td {
      padding: 8px 15px !important;
    }
  }
  &__qr {
    display: block;
    position: relative;
    padding-right: 50px;
  }
  &__qr2 {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  &__stars {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__square {
    display: block;
    margin-right: 10px;
    + span {
      display: block;
    }
  }
  &__logo {
    text-align: center;
    margin-bottom: 20px;
    img {
      max-width: 200px;
    }
  }
  &__el1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__el2 {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__el3 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @media (max-width: $break_sm) {
    &__el1 {
      width: 100px;
    }
    &__el2 {
       width: 100px;
    }
    &__el3 {
       width: 200px;
    }
  }
  @media (max-width: $break_xs) {
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__table {
      table {
        font-size: 14px;
        tr {
          // display: flex;
          // flex-wrap: wrap;
        }
        td {
          // width: 100%;
          vertical-align: middle;
        }
      }
      &--2 {
        table {
          td {
            &:nth-child(2) {
              text-align: center;
            }
          }
        }
      }
    }
    &__text {
      font-size: 12px;
    }
    &__qr {
      padding-right: 30px;
    }
  }
}